<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/location/js/script.js"></script>
    <style>
        table, th {
            border: 1px solid black;
            border-collapse: collapse;
            height: 50px;
            width: 300px;
        }


        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        button {
            height: 50px;
            width: 300px;
        }
    </style>
</head>
<body onload="Initialise()">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<div id='weathermap'></div>

<div id="total_time"></div>
<div id="walking"></div>
<div id="running"></div>

<table id="myTable" class='center'>

</table>

<br>
<br>

<button onclick="go_back()">Go Back</button>

</body>
</html>