<!DOCTYPE html>
<html>
<body>

<table>
  <tr>
    <td>API used</td>
    <td id="moApi"></td>
  </tr>
  <tr>
    <td>linear acceleration (excl. gravity)</td>
    <td id="moAccel"></td>
  </tr>
  <tr>
    <td>interval (ms)</td>
    <td id="moInterval"></td>
  </tr>
</table>

<script>
if ('LinearAccelerationSensor' in window) {
  document.getElementById('moApi').innerHTML = 'Generic Sensor API';

  let accelerometer = new LinearAccelerationSensor({frequency: 100});
  accelerometer.addEventListener('reading', e => {
    accelerationHandler(accelerometer, 'moAccel');
  });
  accelerometer.start();

} else if ('DeviceMotionEvent' in window) {
  document.getElementById('moApi').innerHTML = 'Device Motion API';

  var onDeviceMotion = function (eventData) {
    accelerationHandler(eventData.acceleration, 'moAccel');
    intervalHandler(100);
  }

  window.addEventListener('devicemotion', onDeviceMotion, false);
} else {
  document.getElementById('moApi').innerHTML = 'No Accelerometer & Gyroscope API available';
}

function accelerationHandler(acceleration, targetId) {
  var info, xyz = "[X, Y, Z]";

  info = xyz.replace("X", acceleration.x && acceleration.x.toFixed(3));
  info = info.replace("Y", acceleration.y && acceleration.y.toFixed(3));
  info = info.replace("Z", acceleration.z && acceleration.z.toFixed(3));
  document.getElementById(targetId).innerHTML = info;
}

function intervalHandler(interval) {
  document.getElementById("moInterval").innerHTML = interval;
}
</script>

</body>
</html>
